<div class="card">
    <div class="card-header">
        <h2>Logueate en Fantastic Tour!</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="mail">Correo Electronico</label>
                    <input id="mail" [(ngModel)]="loginVm.email" placeholder="mail@example.com" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="pass">Password</label>
                    <input id="pass" [(ngModel)]="loginVm.password" placeholder="Password" type="password" class="form-control" />
                </div>
                
                <button (click)="login()" class="btn btn-primary">
                    Ingresar
                </button>
            </div>
        </div>
    </div>
</div>