<div class="col-8">
        <div class="card">
                <div class="card-header">
                    <h2>Ingrese los datos de su tarjeta de crédito</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                              <div class="form-row">
                                  <div class="form-group col-6">
                                      <label for="nroTarjeta">Número</label>
                                      <input id="nroTarjeta" [(ngModel)]="pago.tarjeta" mask="0000-0000-0000-0000" placeholder="XXXX-XXXX-XXXX-XXXX" class="form-control" />
                                  </div>
                                  <div class="form-group col-6">
                                      <label for="fechaVencimiento">Fecha de Vencimiento</label>
                                      <input id="fechaVencimiento" [(ngModel)]="pago.fvenc" mask="00/00" placeholder="XX/XX"  class="form-control" />
                                  </div>
                              </div>
              
                            <div class="form-row">
                                  <div class="form-group col-6">
                                      <label for="codSeguridad">Código de Seguridad</label>
                                      <input id="codSeguridad" mask="000" [(ngModel)]="pago.codseguridad" placeholder="XXX" type="text" class="form-control" />
                                  </div>
                                  <div class="form-group col-6">
                                      <label for="fechaVencimiento">Importe</label>
                                      <div class="input-group">
                                          <div class="input-prepend">
                                              <div class="input-group-text">$</div>
                                          </div>
                                          <input id="fechaVencimiento" [(ngModel)]="pago.importe"  placeholder="XXXX"  class="form-control" readonly/>
                                      </div>
                                  </div>
                              </div>
                            
                            <button (click)="confirmarPago()" class="btn btn-primary">
                                Confirmar
                            </button>
                        </div>
                    </div>
                </div>
              </div>
              
</div>