@{
    ViewData["Title"] = "Home Page";
}

<style>
    
</style>

<app>
    <div id="loading">
        <ul class="bokeh">
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
