<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Fantastic Tour</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/home']">
                    <span class='glyphicon glyphicon-home'></span> Home
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isAdmin | async" >
                <a class="nav-link" [routerLink]="['/hoteles']">
                    <span class='glyphicon glyphicon-th-list'></span> Hoteles
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isAdmin  | async">
                <a class="nav-link" [routerLink]="['/atracciones']">
                    <span class='glyphicon glyphicon-th-list'></span> Atracciones
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isAdmin  | async">
                <a class="nav-link" [routerLink]="['/transportes']">
                    <span class='glyphicon glyphicon-th-list'></span> Transportes
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isAdmin  | async">
                <a class="nav-link" [routerLink]="['/estadias']">
                    <span class='glyphicon glyphicon-th-list'></span> Estadias
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isAdmin  | async">
                <a class="nav-link" [routerLink]="['/send-mailing']">
                    <span class='glyphicon glyphicon-th-list'></span> Mailing
                </a>
            </li>
        </ul>
        <div class="nav-item btn btn-outline-dark mr-4" [routerLinkActive]="['link-active']" *ngIf="!(logged | async)">
            <a class="nav-link" [routerLink]="['/register-user']">
                <span class='glyphicon glyphicon-th-list'></span> Registrate
            </a>
        </div>
        <div class="nav-item btn btn-outline-dark mr-4" [routerLinkActive]="['link-active']" *ngIf="!(logged | async)">
            <a class="nav-link" [routerLink]="['/login']">
                <span class='glyphicon glyphicon-th-list'></span> Ingresa
            </a>
        </div>
        <div class="nav-item dropdown" *ngIf="logged | async">
            <a class="nav-link dropdown-toggle" 
                href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" (click)="logout()">Salir</a>
            </div>
        </div>
    </div>
</nav>