<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Fantastic Tour</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/home']">
                    <span class='glyphicon glyphicon-home'></span> Home
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/hoteles']">
                    <span class='glyphicon glyphicon-th-list'></span> Hoteles
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/atracciones']">
                    <span class='glyphicon glyphicon-th-list'></span> Atracciones
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/register-user']">
                    <span class='glyphicon glyphicon-th-list'></span> Registrate
                </a>
            </li>
        </ul>
    </div>
</nav>