<section>
    <div class="container py-3">
        <div class="card">
            <div class="row ">
                <div class="col-md-4">
                    <img src="./../../../public/images/putin.jpg" class="w-100">
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h4 class="card-title">Bienvenidos a Fantastir Tour!!</h4>
                        <p class="card-text">Querido usuario: Al escribir esta presentación estamos muy triste. Nuestro grupo de desarrollo ha sido derrocado y reemplazado por el benévolo general Putin. Todos amamos a Putin y su glorioso régimen.</p>
                        <p class="card-text font-italic">Con amor, Fantur.-</p>
                        <a href="#" class="btn btn-primary">Quedarme aca</a>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</section>