<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{paquete.nombre }}</h3>
    </div>
    <div class="card-body">
        <div class="col-12 mt-4" *ngIf="transporte">
            <h5 class="card-title">Transporte</h5>
            <p class="card-text">{{transporte.tipoTransporte}}</p>
            <p class="card-text">Sale el {{ transporte.fechaIda}} desde {{transporte.origen}}</p>
            <p class="card-text">Vuelve el {{ transporte.fechaVuelta}} desde {{transporte.destino}}</p>
        </div>
        <div class="col-12 mt-4" *ngIf="atraccion">
            <h5 class="card-title">Atraccion</h5>
            <p class="card-text">{{ paquete.atraccion }} (En {{ atraccion.ciudad }})</p>
            <p class="card-text">El {{ atraccion.fecha }} </p>
        </div>
        <div class="col-12 mt-4" *ngIf="estadia">
            <h5 class="card-title">Hotel</h5>
            <p class="card-text">{{ paquete.hotel }} (En {{estadia.ciudad}}) </p>
            <p class="card-text">Desde el {{ estadia.fechaInicio}} hasta el {{estadia.fechaFin}} </p>
        </div>
        <div class="col-12 mt-4">
            <h5 class="card-title">Disponibilidad</h5>
            <p class="card-text">Hasta {{ paquete.fechaVencimiento}}</p>
        </div>
        <a class="btn btn-secondary" [routerLink]="['/paquetes']">volver al Listado</a>
        <a class="btn btn-primary" [routerLink]="['/pago']">Comprar</a>
    </div>
</div>