
<section class="content-section bg-primary">
    <div class="card">
        <div class="card-header">
            <h1 *ngIf="hotel.id">
                Editando hotel {{hotel.id}}
            </h1>
            <h1 *ngIf="!hotel.id">
                Nuevo hotel
            </h1>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input id="nombre" [(ngModel)]="hotel.nombre" placeholder="Nombre" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="direccion">Direccion</label>
                <input id="direccion" [(ngModel)]="hotel.direccion" placeholder="Direccion" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="telefono">Telefono</label>
                <input id="telefono" [(ngModel)]="hotel.telefono" placeholder="Telefono" type="text" class="form-control" />
            </div>
        </div>
    
        <button type="button" class="btn btn-primary" (click)="save()">Guardar</button>
    
    </div>
</section>
