
    <div class="col-12">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#busqueda-collapse" aria-expanded="true" aria-controls="collapseOne">
                        Busqueda
                    </button>
                </h2>
            </div>
            <div id="busqueda-collapse" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="form-group">
                        <label for="origen">Origen</label>
                        <input id="origen" type="text" class="form-control" [formControl]="origenSearchTerm">
                        <div *ngIf="(origenSubject | async)">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action" *ngFor="let item of (origenSubject | async)" (click)="select(item, origenSearchTerm, origenSubject, setOrigen, filtro)">
                                    {{item.text}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="destino">Destino</label>
                        <input id="destino" type="text" class="form-control" [formControl]="destinoSearchTerm">
                        <div *ngIf="(destinoSubject | async)">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action" *ngFor="let item of (destinoSubject | async)" (click)="select(item, destinoSearchTerm, destinoSubject, setDestino, filtro)">
                                    {{item.text}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ida">Fecha de Partida</label>
                        <input id="ida" [(ngModel)]="filtro.ida" type="date" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="vuelta">Fecha de Regreso</label>
                        <input id="vuelta" [(ngModel)]="filtro.vuelta" type="date" class="form-control" />
                    </div>
                    <button class="btn btn-primary" (click)="filter()">Buscar</button>
                </div>
            </div>
        </div>
    </div>
  <a *ngFor="let paquete of paquetes">
    <div class="col-12">
      <div class="card">
        <div class="card-block m-2 col-12">
          <h3 class="card-title">{{ paquete.nombre }}</h3>
          <p class="card-text">Atracción: {{ paquete.atraccion}}</p>
          <p class="card-text">Hotel: {{ paquete.hotel }}</p>
          <p class="card-text">Disponible Hasta: {{ paquete.fechaVencimiento }}</p>
          <a class="btn btn-primary" [routerLink]="['/ver-paquete']" [queryParams]="{id : paquete.id}">Ver Paquete</a>
        </div>
      </div>
    </div>
    <br> 
  </a>
