<h1>
  Transportes 
</h1>

<div class="list-group">
  <div class="list-group-item">
      <div class="row">
          <div class="col-2"><strong>Id</strong></div>
          <div class="col-2"><strong>Fecha</strong></div>
          <div class="col-2"><strong>Costo</strong></div>
          <div class="col-2"><strong>Origen</strong></div>
          <div class="col-2"><strong>Destino</strong></div>
          <div class="col-2"><strong>Tipo</strong></div>

      </div>
  </div>
  <a class="list-group-item list-group-item-action" [routerLink]="['/transporte-editor']" [queryParams]="{id : transporte.id}" *ngFor="let transporte of transportes">
      <div class="row">
          <div class="col-2">{{transporte.id}}</div>
          <div class="col-2">{{transporte.fecha}}</div>
          <div class="col-2">{{transporte.costo}}</div>
          <div class="col-2">{{transporte.origen}}</div>
          <div class="col-2">{{transporte.destino}}</div>
          <div class="col-2">{{transporte.tipo}}</div>
      </div>
  </a>
</div>

<a class="btn btn-primary" [routerLink]="['/transporte-editor']">Agregar</a>
